     .button-group {
         justify-content: space-between;
         flex-direction: row;
         margin-top: 0;
     }

     form {
         justify-content: center;
         align-items: center;
     }

     .form-row {
         padding-left: 0;
     }

     #divMotivo {
         width: 100%;
     }